body {
    font-family: Arial;
    background: #f0f0f0;
}

.box {
    width: 320px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 6px;
}

button {
    width: 100%;
    padding: 8px;
    background: black;
    color: white;
    border: none;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
}
