<!DOCTYPE html>
<html>
<head>
    <title>Uber Ride Simulation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="box">
    <h2>Request a Ride</h2>
    <form method="post">
        <input type="number" step="any" name="px" placeholder="Pickup X" required>
        <input type="number" step="any" name="py" placeholder="Pickup Y" required>

        <input type="number" step="any" name="dx" placeholder="Destination X" required>
        <input type="number" step="any" name="dy" placeholder="Destination Y" required>

        <button type="submit">Request Ride</button>
    </form>
</div>
</body>
</html>
